<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<!--
PROJECT NAME: AML
FILE NAME   : AMLAlertParameters
CREATED BY	: MANIVANNAN
CREATED ON	: 28-NOV-2019
MODIFY ON   :
PURPOSE		: 
 -->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css"
	href="/webjars/font-awesome/5.9.0/css/all.min.css"
	th:href="@{/webjars/font-awesome/5.9.0/css/all.min.css}">
<link rel="stylesheet" type="text/css"
	href="/webjars/jquery-ui/1.12.1/jquery-ui.min.css"
	th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.css}">
<link rel="shortcut icon" th:href="@{/favicon.ico}" type="image/x-icon">
<link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon">

<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"
	th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
<script src="/webjars/popper.js/1.14.7/umd/popper.min.js"
	th:src="@{/webjars/popper.js/1.14.7/umd/popper.min.js}"></script>
<script src="/webjars/jquery/3.4.1/jquery.min.js"
	th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script src="/webjars/jquery-ui/1.12.1/jquery-ui.min.js"
	th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>

<style type="text/css">
.btn {
	line-height: 0.5rem;
}
</style>
<script th:inline="javascript">
	/*<![CDATA[*/

	$(function() {

		var formmode = /*[[${formmode}]]*/null;
		if (formmode != null) {
			if (formmode == 'view') {
				$('#AlertParameter').datetimepicker({
					Readonly : true
				});
			}
		}

		$("#alert_date").datepicker({
			changeMonth : true,
			changeYear : true,
			maxDate : new Date(),
			dateFormat : "dd-mm-yy"
		});

		var today = new Date();
		var dd = today.getDate();
		var mm = today.getMonth() + 1; //January is 0!

		var yyyy = today.getFullYear();
		if (dd < 10) {
			dd = '0' + dd;
		}
		if (mm < 10) {
			mm = '0' + mm;
		}
		var today = dd + '-' + mm + '-' + yyyy;
		document.getElementById('alert_date').value = today;

		$("#suspend_date").datepicker({
			changeMonth : true,
			changeYear : true,
			minDate : 0,
			maxDate : 0,
			dateFormat : "dd-mm-yyyy"
		});
		$("#activate_date").datepicker({
			changeMonth : true,
			changeYear : true,
			minDate : 0,
			dateFormat : "dd-mm-yyyy"
		});
		$("#start_date").datepicker({
			maxDate : 0,
			dateFormat : "dd-mm-yyyy",
			onSelect : function(selected) {
				var dt = $(this).datepicker('getDate');
				dt.setDate(dt.getDate());
				$("#end_date").datepicker("option", "minDate", dt);

			}
		});
		$("#end_date").datepicker({
			minDate : 0,
			dateFormat : "dd-mm-yyyy",
			onSelect : function(selected) {
				var dt = new Date(selected);
				dt.setDate(dt.getDate() - 1);
				//$("#start_date").datepicker("option", "maxDate", dt);
			}
		});
	});
	var deleteval;

	function home() {
		location.href = 'Dashboard'
	}

	function back() {
		window.history.back();
	}
	function home1() {
		$("#dataHome").modal("toggle");
	}

	function back1() {
		$("#dataBack").modal("toggle");

	}
	function alert_add(a) {

		var formmode = a.getAttribute("frmode");

		location.href = "./RBSAlertParameters?formmode=" + formmode;

	}
	function list() {
		location.href = './RBSAlertParameters?formmode=list';
	}

	function submitform(a) {

		$('select option').prop('disabled', false)

	/* 	$.validator.addMethod("regex", function(value, element, regexp) {
			var re = new RegExp(regexp);
			return this.optional(element) || re.test(value);
		}, "Date required format dd-mm-yyyy");
 */
		/* $("#AlertParameter")
				.validate(
						{
							rules : {
								start_date : {
									required : true,
									regex : "^(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])-[0-9]{4}$"
								},
								end_date : {
									required : true,
									regex : "^(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])-[0-9]{4}$"
								},
								activate_date : {
									required : true,
									regex : "^(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])-[0-9]{4}$"
								},
								suspend_date : {
									required : true,
									regex : "^(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])-[0-9]{4}$"
								},

							},
							messages : {

							}

						}); */
			var formmode = a.getAttribute("data-formmode");
			var url = "./createAlert?formmode=" + formmode;

			$("#AlertParameter").attr('action', url);

			var options = {
				success : showResponse
			// post-submit callback 
			};

			$("#AlertParameter").ajaxSubmit(options);

			function showResponse(responseText, statusText, xhr, $form) {

				$("#alertmsg").text(responseText);

				$('#alert').modal("toggle");

			}
			;
		
	};

	function edit_btn_submit(a) {

		var srlno = a.getAttribute("data-srl_no");
		location.href = 'RBSAlertParameters?formmode=edit&srlno=' + srlno;
	}

	function delete_btn_submit(a) {

		var srlno = a.getAttribute("data-srl_no");
		deleteval = srlno;
		$("#datadelete").modal("toggle");

	}
	function submitformdelete(a) {

		var srlno = a.getAttribute("data-srl_no");

		location.href = 'RBSAlertParameters?formmode=delete&srlno=' + srlno;

	};
	function view_btn_submit(a) {
		var srlno = a.getAttribute("data-srl_no");

		location.href = 'RBSAlertParameters?formmode=view&srlno=' + srlno;

	}
	function exec_btn_submit(a) {
		var srlno = a.getAttribute("data-srl_no");

		location.href = 'RBSAlertParameters?formmode=exec&srlno=' + srlno;

	}
	
	/*]]>*/
</script>

<script>
	$(function() {

		$('input[type=radio]').click(function() {
			if ($(this).prop('id') == "emailno") {
				$("#email_1").prop("readonly", true);
				$("#email_user_1").prop("readonly", true);
				$("#email_1").prop("required", false);
				$("#email_user_1").prop("required", false);
				$("#email_1-error").hide();
				$("#email_user_1-error").hide();
				$("#email_2").prop("readonly", true);
				$("#email_user_2").prop("readonly", true);
				$("#email_3").prop("readonly", true);
				$("#email_user_3").prop("readonly", true);

			} else if ($(this).prop('id') == "emailyes") {
				$("#email_1").prop("readonly", false);
				$("#email_user_1").prop("readonly", false);
				$("#email_1").prop("required", true);
				$("#email_user_1").prop("required", true);
				$("#email_1-error").show();
				$("#email_user_1-error").show();
				$("#email_2").prop("readonly", false);
				$("#email_user_2").prop("readonly", false);
				$("#email_3").prop("readonly", false);
				$("#email_user_3").prop("readonly", false);

			} else if ($(this).prop('id') == "smsno") {
				$("#mobile_1").prop("readonly", true);
				$("#mobile_user_1").prop("readonly", true);
				$("#mobile_1").prop("required", false);
				$("#mobile_user_1").prop("required", false);
				$("#mobile_1-error").hide();
				$("#mobile_user_1-error").hide();
				$("#mobile_2").prop("readonly", true);
				$("#mobile_user_2").prop("readonly", true);
				$("#mobile_3").prop("readonly", true);
				$("#mobile_user_3").prop("readonly", true);
			} else if ($(this).prop('id') == "smsyes") {
				$("#mobile_1").prop("readonly", false);
				$("#mobile_user_1").prop("readonly", false);
				$("#mobile_1").prop("required", true);
				$("#mobile_user_1").prop("required", true);
				$("#mobile_1-error").show();
				$("#mobile_user_1-error").show();
				$("#mobile_2").prop("readonly", false);
				$("#mobile_user_2").prop("readonly", false);
				$("#mobile_3").prop("readonly", false);
				$("#mobile_user_3").prop("readonly", false);
			} else if ($(this).prop('id') == "alertno") {
				$("#alert_userid_1").prop("readonly", true);
				$("#alert_user_1").prop("readonly", true);
				$("#alert_userid_1").prop("required", false);
				$("#alert_user_1").prop("required", false);
				$("#alert_user_1-error").hide();
				$("#alert_userid_1-error").hide();
				$("#alert_userid_2").prop("readonly", true);
				$("#alert_user_2").prop("readonly", true);
				$("#alert_userid_3").prop("readonly", true);
				$("#alert_user_3").prop("readonly", true);
			} else if ($(this).prop('id') == "alertyes") {
				$("#alert_userid_1").prop("readonly", false);
				$("#alert_user_1").prop("readonly", false);
				$("#alert_userid_1").prop("required", true);
				$("#alert_user_1").prop("required", true);
				$("#alert_user_1-error").show();
				$("#alert_userid_1-error").show();
				$("#alert_userid_2").prop("readonly", false);
				$("#alert_user_2").prop("readonly", false);
				$("#alert_userid_3").prop("readonly", false);
				$("#alert_user_3").prop("readonly", false);

			}

		});
	});
	function LogOff() {

		location.href = "/AML/logout";
	}
</script>
</head>

<body onUnload="LogOff()">
		<div th:insert="XBRLHeaderMenu :: header" th:if="${formmode}=='list' OR ${formmode}=='view' "></div>
	<i class="fa fa-question-circle" style="float: right; margin-top: 10%;"
		aria-hidden="true" onclick="docEmb('RBSAlertParameters')" id="ques"></i>
	<div class="content-page">
		<div class="content">
			<div class="container-fluid">

				<div th:if="${formmode}=='list'" class="container content">
					<div class="row">
						<div class="col-sm-12">
							<div class="card-header " id="modheadtitle" style="height: 57px;">
								<b th:text="${menuname}"></b>

								<div class="btn-group nav-buttons float-right">
									<!-- <button type="button" class="btn btn-xs btn-primary btns"
										onclick='alert_add(this)' th:attr="frmode=add">Add
										Alert</button> -->
									<button type="button"
										class="btn btn-xs btn-primary btns active" id="btnInq"
										onclick="list()" style="border-color: #66dbe0;">List</button>
								</div>
							</div>
							<table class="table table-bordered  table-hover table-sm"
								style="width: 100%" id="usertable">
								<thead class="thead-light">

									<tr>
										<!-- <th></th> -->
										<th>Srl No</th>
										<th>Alert Code</th>
										<th>Description</th>
										<th>E-mail</th>
										<th>Sms</th>
										<th>Alert</th>
										<th>Remarks</th>
										<th>Select</th>

									</tr>
								</thead>
								<tbody>

									<tr th:each="alert: ${AlertParameterList}">
										<td th:text="${alert?.srl_no}"></td>
										<td th:text="${alert?.alert_code}"></td>
										<td th:text="${alert?.alert_desc}"></td>

										<th:block th:switch="${alert?.email_flg}">
											<td th:case="'Y'">YES</td>
											<td th:case="'N'">NO</td>
										</th:block>
										<th:block th:switch="${alert?.sms_flg}">
											<td th:case="'Y'">YES</td>
											<td th:case="'N'">NO</td>
										</th:block>
										<th:block th:switch="${alert?.alert_flg}">
											<td th:case="'Y'">YES</td>
											<td th:case="'N'">NO</td>
										</th:block>


										<td th:text="${alert?.remarks}"></td>
										<td>
											<div class="dropdown">
												<button class="btn btn-secondary dropdown-toggle"
													type="button" id="dropdownMenuButton" title="Action"
													style="line-height: 0.7; font-size: 11px; color: #3a4550; background: #e3e3e4;"
													data-toggle="dropdown" aria-haspopup="true"
													aria-expanded="false">Action</button>
												<div class="dropdown-menu"
													aria-labelledby="dropdownMenuButton"
													style="background-color: #e3e3e4; color: #3a4550;">
													<a th:attr="data-srl_no=${alert.srl_no}"
														class="dropdown-item" title=" Modify"
														style="cursor: pointer; height: 20px; color: #3a4550; background: #e3e3e4; height: 16px; border-radius: .20rem; padding: 2px 10px; top: 10px;"
														id="edit_value" onclick="edit_btn_submit(this)">Modify</a>
													<div class="dropdown-divider"></div>
													<a th:attr="data-srl_no=${alert.srl_no}" 
														class="dropdown-item" title="Delete"
														style="cursor: pointer; height: 20px; color: #3a4550; background: #e3e3e4; height: 16px; border-radius: .20rem; padding: 2px 10px; top: 10px;"
														onclick="submitformdelete(this)" id="delete_value">Delete</a>
													<div class="dropdown-divider" ></div>
													<a th:attr="data-srl_no=${alert.srl_no}"
														class="dropdown-item" title="View"
														style="cursor: pointer; height: 20px; color: #3a4550; background: #e3e3e4; height: 16px; border-radius: .20rem; padding: 2px 10px; top: 10px;"
														onclick="view_btn_submit(this)" id="view_btn">View </a>
														<div class="dropdown-divider" ></div>
													<a th:if ="${alert.srl_no} == 'A023'" th:attr="data-srl_no=${alert.srl_no}"
														class="dropdown-item" title="View"
														style="cursor: pointer; height: 20px; color: #3a4550; background: #e3e3e4; height: 16px; border-radius: .20rem; padding: 2px 10px; top: 10px;"
														onclick="exec_btn_submit(this)" id="view_btn">EXE </a>
												</div>
											</div>
										</td>
										<!-- <td th:text="${#numbers.formatDecimal(account.clr_bal_amt,1,'COMMA',2,'POINT')}"  align="right" >CHENNAI</td> -->

									</tr>
								</tbody>
							</table>
							<div class="text-center"
								style="background-color: #386276; padding: 5px;">

								<div class="btn-group nav-buttons " style="align: center;">
									<button type="button" class="btn btn-xs btn-primary"
										id="btnHome" onclick="home();" style="margin-right: 5px;">Home</button>
									<button type="button" class="btn btn-xs btn-primary"
										id="btnBack" onclick="back();">Back</button>
								</div>
							</div>


							<!------------------------------ Report Details pagination - shown if paginated -------------------------------------------------->
							<!-- 			<div class="float-right" th:if="${RuleList.totalPages} gt 1">
					<a href="#"><i class="fas fa-caret-left fa-2x"
						th:onclick="|getUserlist('prevpage',${RuleList.number},${RuleList.totalPages});|"></i></a>
					<input type="text" id="pageno" style="width: 30px"
						th:value="${RuleList.number+1}"
						th:onchange="|getUserlist('givenpage',${RuleList.number},${RuleList.totalPages});|"></input>
					of <font th:text="${RuleList.totalPages}"></font> <a href="#"><i
						class="fas fa-caret-right fa-2x"
						th:onclick="|getUserlist('nextpage',${RuleList.number},${RuleList.totalPages});|"></i></a>
				</div> -->


						</div>
					</div>
				</div>
				<div
					th:if="${formmode}=='edit' OR ${formmode}=='add' OR ${formmode}=='view' OR ${formmode}=='delete'"
					class="container content">
					<div class="row">
						<div class="col-sm-12 ">

							<form action="#" th:object="${AlertParameter}" method="POST"
								autocomplete="off" id="AlertParameter">
								<div class="card">
									<div class="card-header">
										<div class="float-left">
											<h4 th:if="${formmode}=='add'">Alert Parameters - ADD</h4>
											<h4 th:if="${formmode}=='edit'">Alert Parameters -
												MODIFY</h4>
											<h4 th:if="${formmode}=='view'">Alert Parameters -
												INQUIRY</h4>
											<h4 th:if="${formmode}=='delete'">Alert Parameters -
												DELETE</h4>
										</div>
										<div class="btn-group nav-buttons float-right">

											<button type="button" class="btn btn-xs btn-primary btns"
												id="btnInq" onclick="list()" style="border-color: #66dbe0;">List</button>
										</div>

									</div>
									<div class="card-body">

										<input autocomplete="false" name="hidden" type="text"
											style="display: none;">
										<div class="form-group">
											<div class="row formline">
												<div class="col-sm-2">
													<label for="srl_no"> Srl No</label>
												</div>

												<div class="col-sm-3"
													th:if="${formmode}=='edit' OR ${formmode}=='view' OR ${formmode}=='delete'">
													<input type="text" th:value="${AlertParameter?.srl_no}"
														id="srl_no" class="form-control form-control-sm"
														name="srl_no" autocomplete="off" readonly
														required>
												</div>

												<div class="col-sm-3" th:if=" ${formmode}=='add'">
													<input type="text" th:value="${AlertSrlNo}" id="srl_no"
														class="form-control form-control-sm" name="srl_no"
														autocomplete="off" readonly>
												</div>
												<div class="col-sm-1"></div>
												<label for="userName" class="col-sm-2">Date</label>


												<div class="col-sm-3">
													<input type="text"
														th:value="${#dates.format(AlertParameter?.alert_date ,'dd-MM-yyyy')}"
														id="alert_date" name="alert_date"
														class="form-control form-control-sm" autocomplete="false" readonly
														required />
												</div>

											</div>

											<div class="row formline">
												<label style="height: 2px;"></label>

											</div>
											<div class="row formline">

												<label class="col-sm-2">Alert Code</label>
												<div class="col-sm-3">
													<input type="text" th:value="${AlertParameter?.alert_code}"
														id="alert_code" name="alert_code" value=""
														class="form-control form-control-sm" autocomplete="false" readonly
														required />
												</div>

												<div class="col-sm-1"></div>


												<label class="col-sm-2">Description</label>
												<div class="col-sm-3">
													<input type="text" th:value="${AlertParameter?.alert_desc}"
														id="alert_desc" name="alert_desc" value=""
														class="form-control form-control-sm txtalign"
														autocomplete="false"  readonly required />
												</div>
												<div class="col-sm-1"></div>
											</div>


											<div class="row formline">
												<label style="height: 2px;"></label>

											</div>
											<div class="row formline">

												<label class="col-sm-2">Parameter-1</label>
												<div class="col-sm-3">
													<input type="text" th:value="${AlertParameter?.param_1}"
														id="param_1" name="param_1" value=""
														class="form-control form-control-sm" autocomplete="off"
														th:readonly="${formmode}=='view' OR ${formmode}=='delete'"
														required />
												</div>
												<div class="col-sm-1"></div>


												<label class="col-sm-2">Value-1</label>
												<div class="col-sm-3">
													<input type="number"
														th:value="${AlertParameter?.param_value_1}"
														id="param_value_1" name="param_value_1" value=""
														class="form-control form-control-sm" autocomplete="off"
														th:readonly="${formmode}=='view' OR ${formmode}=='delete'" />
												</div>
												<div class="col-sm-1"></div>
											</div>
											<div class="row formline">
												<label style="height: 2px;"></label>

											</div>
											<div class="row formline">

												<label class="col-sm-2">Parameter-2</label>
												<div class="col-sm-3">
													<input type="text" th:value="${AlertParameter?.param_2}"
														id="param_2" name="param_2" value=""
														class="form-control form-control-sm" autocomplete="off"
														th:readonly="${formmode}=='view' OR ${formmode}=='delete'" />
												</div>
												<div class="col-sm-1"></div>


												<label class="col-sm-2">Value-2</label>
												<div class="col-sm-3">
													<input type="number"
														th:value="${AlertParameter?.param_value_2}"
														id="param_value_2" name="param_value_2" value=""
														class="form-control form-control-sm" autocomplete="off"
														th:readonly="${formmode}=='view' OR ${formmode}=='delete'" />
												</div>
												<div class="col-sm-1"></div>
											</div>

											<div class="row formline">
												<label style="height: 2px;"></label>

											</div>
											<div class="row formline">

												<label class="col-sm-2">Parameter-3</label>
												<div class="col-sm-3">
													<input type="text" th:value="${AlertParameter?.param_3}"
														id="param_3" name="param_3" value=""
														class="form-control form-control-sm" autocomplete="off"
														th:readonly="${formmode}=='view' OR ${formmode}=='delete'" />
												</div>
												<div class="col-sm-1"></div>


												<label class="col-sm-2">Value-3</label>
												<div class="col-sm-3">
													<input type="number"
														th:value="${AlertParameter?.param_value_3}"
														id="param_value_3" name="param_value_3" value=""
														class="form-control form-control-sm" autocomplete="off"
														th:readonly="${formmode}=='view' OR ${formmode}=='delete'" />
												</div>
												<div class="col-sm-1"></div>
											</div>



											<div class="row formline">
												<label style="padding: 12px;">Email Required</label><label
													class="col-sm-1"></label>

												<div class="form-check-inline  ">
													<label class="form-check-label" for="radio1"> <input
														th:checked="${AlertParameter?.email_flg}=='Y'"
														type="radio" class="form-check-input " id="emailyes"
														name="email_flg" value="Y">Yes
													</label>
												</div>
												<div class="form-check-inline -3">
													<label class="form-check-label " for="radio2"> <input
														th:checked="${AlertParameter?.email_flg}=='N'"
														type="radio" class="form-check-input" id="emailno"
														name="email_flg" value="N">No
													</label>
												</div>
											</div>






											<div class="row formline">


												<label class="col-sm-2">Email-1</label>
												<div class="col-sm-3">
													<input type="email" th:value="${AlertParameter?.email_1}"
														id="email_1" value="" name="email_1"
														class="form-control form-control-sm" autocomplete="off"
														th:readonly="${formmode}=='view' OR ${formmode}=='delete' OR ${AlertParameter?.email_flg}=='N'"
														required />
												</div>

												<div class="col-sm-1"></div>

												<label class="col-sm-2">Email User-1</label>
												<div class="col-sm-3">
													<input type="text"
														th:value="${AlertParameter?.email_user_1}"
														id="email_user_1" value="" name="email_user_1"
														class="form-control form-control-sm" autocomplete="off"
														th:readonly="${formmode}=='view' OR ${formmode}=='delete' OR ${AlertParameter?.email_flg}=='N'"
														required />
												</div>
												<div class="col-sm-1"></div>
											</div>
											<div class="row formline">
												<label style="height: 2px;"></label>

											</div>
											<div class="row formline">


												<label class="col-sm-2">Email-2</label>
												<div class="col-sm-3">
													<input type="email" th:value="${AlertParameter?.email_2}"
														id="email_2" value="" name="email_2"
														class="form-control form-control-sm" autocomplete="off"
														th:readonly="${formmode}=='view' OR ${formmode}=='delete' OR ${AlertParameter?.email_flg}=='N'"
														/>
												</div>

												<div class="col-sm-1"></div>

												<label class="col-sm-2">Email User-2</label>
												<div class="col-sm-3">
													<input type="text"
														th:value="${AlertParameter?.email_user_2}"
														id="email_user_2" value="" name="email_user_2"
														class="form-control form-control-sm" autocomplete="off"
														th:readonly="${formmode}=='view' OR ${formmode}=='delete' OR ${AlertParameter?.email_flg}=='N'"
														 />
												</div>
												<div class="col-sm-1"></div>
											</div>
											<div class="row formline">
												<label style="height: 2px;"></label>

											</div>
											<div class="row formline">


												<label class="col-sm-2">Email-3</label>
												<div class="col-sm-3">
													<input type="email" th:value="${AlertParameter?.email_3}"
														id="email_3" value="" name="email_3"
														class="form-control form-control-sm" autocomplete="off"
														th:readonly="${formmode}=='view' OR ${formmode}=='delete' OR ${AlertParameter?.email_flg}=='N'"
														/>
												</div>

												<div class="col-sm-1"></div>

												<label class="col-sm-2">Email User-3</label>
												<div class="col-sm-3">
													<input type="text"
														th:value="${AlertParameter?.email_user_3}"
														id="email_user_3" value="" name="email_user_3"
														class="form-control form-control-sm" autocomplete="off"
														th:readonly="${formmode}=='view' OR ${formmode}=='delete' OR ${AlertParameter?.email_flg}=='N'"
														/>
												</div>
												<div class="col-sm-1"></div>
											</div>


											<div class="row formline">
												<label style="padding: 12px;">Sms Required</label><label
													class="col-sm-1"></label>

												<div class="form-check-inline  ">
													<label class="form-check-label" for="radio1"> <input
														th:checked="${AlertParameter?.sms_flg}=='Y'"
														th:value="${AlertParameter?.sms_flg}" type="radio"
														class="form-check-input " id="smsyes" name="sms_flg"
														value="Y">Yes
													</label>
												</div>
												<div class="form-check-inline -3">
													<label class="form-check-label " for="radio2"> <input
														th:checked="${AlertParameter?.sms_flg}=='N'" type="radio"
														class="form-check-input" id="smsno"
														th:value="${AlertParameter?.sms_flg}" name="sms_flg"
														value="N">No
													</label>
												</div>
											</div>



											<div class="row formline">


												<label class="col-sm-2">Mobile-1</label>
												<div class="col-sm-3">
													<input type="text" th:value="${AlertParameter?.mobile_1}"
														id="mobile_1" value="" name="mobile_1"
														class="form-control form-control-sm" autocomplete="off"
														th:readonly="${formmode}=='view' OR ${formmode}=='delete' OR ${AlertParameter?.sms_flg}=='N'"
														 />
												</div>

												<div class="col-sm-1"></div>

												<label class="col-sm-2">Mobile User-1</label>
												<div class="col-sm-3">
													<input type="text"
														th:value="${AlertParameter?.mobile_user_1}"
														id="mobile_user_1" value="" name="mobile_user_1"
														class="form-control form-control-sm" autocomplete="off"
														th:readonly="${formmode}=='view' OR ${formmode}=='delete' OR ${AlertParameter?.sms_flg}=='N'"
														 />
												</div>
												<div class="col-sm-1"></div>
											</div>
											<div class="row formline">
												<label style="height: 2px;"></label>

											</div>
											<div class="row formline">


												<label class="col-sm-2">Mobile-2</label>
												<div class="col-sm-3">
													<input type="text" th:value="${AlertParameter?.mobile_2}"
														id="mobile_2" value="" name="mobile_2"
														class="form-control form-control-sm" autocomplete="off"
														th:readonly="${formmode}=='view' OR ${formmode}=='delete' OR ${AlertParameter?.sms_flg}=='N'"
														/>
												</div>

												<div class="col-sm-1"></div>

												<label class="col-sm-2">Mobile User-2</label>
												<div class="col-sm-3">
													<input type="text"
														th:value="${AlertParameter?.mobile_user_2}"
														id="mobile_user_2" value="" name="mobile_user_2"
														class="form-control form-control-sm" autocomplete="off"
														th:readonly="${formmode}=='view' OR ${formmode}=='delete' OR ${AlertParameter?.sms_flg}=='N'"
														 />
												</div>
												<div class="col-sm-1"></div>
											</div>
											<div class="row formline">
												<label style="height: 2px;"></label>

											</div>
											<div class="row formline">


												<label class="col-sm-2">Mobile-3</label>
												<div class="col-sm-3">
													<input type="text" th:value="${AlertParameter?.mobile_3}"
														id="mobile_3" value="" name="mobile_3"
														class="form-control form-control-sm" autocomplete="off"
														th:readonly="${formmode}=='view' OR ${formmode}=='delete' OR ${AlertParameter?.sms_flg}=='N'"
														/>
												</div>

												<div class="col-sm-1"></div>

												<label class="col-sm-2">Mobile User-3</label>
												<div class="col-sm-3">
													<input type="text"
														th:value="${AlertParameter?.mobile_user_3}"
														id="mobile_user_3" value="" name="mobile_user_3"
														class="form-control form-control-sm" autocomplete="off"
														th:readonly="${formmode}=='view' OR ${formmode}=='delete' OR ${AlertParameter?.sms_flg}=='N'"
														/>
												</div>
												<div class="col-sm-1"></div>
											</div>

											<div class="row formline">
												<label style="padding: 12px;">Alert Required</label><label
													class="col-sm-1"></label>

												<div class="form-check-inline  ">
													<label class="form-check-label" for="radio1"> <input
														th:checked="${AlertParameter?.alert_flg}=='Y'"
														type="radio" class="form-check-input " id="alertyes"
														name="alert_flg" value="Y" checked>Yes
													</label>
												</div>
												<div class="form-check-inline -3">
													<label class="form-check-label " for="radio2"> <input
														th:checked="${AlertParameter?.alert_flg}=='N'"
														type="radio" class="form-check-input" id="alertno"
														name="alert_flg" value="N">No
													</label>
												</div>
											</div>



											<div class="row formline">


												<label class="col-sm-2">Alert-User ID-1</label>
												<div class="col-sm-3">
													<input type="text"
														th:value="${AlertParameter?.alert_userid_1}"
														id="alert_userid_1" value="" name="alert_userid_1"
														class="form-control form-control-sm" autocomplete="off"
														th:readonly="${formmode}=='view' OR ${formmode}=='delete' OR ${AlertParameter?.alert_flg}=='N'"
														 />
												</div>

												<div class="col-sm-1"></div>

												<label class="col-sm-2">Alert User-1</label>
												<div class="col-sm-3">
													<input type="text"
														th:value="${AlertParameter?.alert_user_1}"
														id="alert_user_1" value="" name="alert_user_1"
														class="form-control form-control-sm" autocomplete="off"
														th:readonly="${formmode}=='view' OR ${formmode}=='delete' OR ${AlertParameter?.alert_flg}=='N'"
														 />
												</div>
												<div class="col-sm-1"></div>
											</div>
											<div class="row formline">
												<label style="height: 2px;"></label>

											</div>
											<div class="row formline">


												<label class="col-sm-2">Alert-User ID-2</label>
												<div class="col-sm-3">
													<input type="text"
														th:value="${AlertParameter?.alert_userid_2}"
														id="alert_userid_2" value="" name="alert_userid_2"
														class="form-control form-control-sm" autocomplete="off"
														th:readonly="${formmode}=='view' OR ${formmode}=='delete' OR ${AlertParameter?.alert_flg}=='N'"
														/>
												</div>

												<div class="col-sm-1"></div>

												<label class="col-sm-2">Alert User-2</label>
												<div class="col-sm-3">
													<input type="text"
														th:value="${AlertParameter?.alert_user_2}"
														id="alert_user_2" value="" name="alert_user_2"
														class="form-control form-control-sm" autocomplete="off"
														th:readonly="${formmode}=='view' OR ${formmode}=='delete' OR ${AlertParameter?.alert_flg}=='N'"
														/>
												</div>
												<div class="col-sm-1"></div>
											</div>
											<div class="row formline">
												<label style="height: 2px;"></label>

											</div>
											<div class="row formline">


												<label class="col-sm-2">Alert-User ID-3</label>
												<div class="col-sm-3">
													<input type="text"
														th:value="${AlertParameter?.alert_userid_3}"
														id="alert_userid_3" value="" name="alert_userid_3"
														class="form-control form-control-sm" autocomplete="off"
														th:readonly="${formmode}=='view' OR ${formmode}=='delete' OR ${AlertParameter?.alert_flg}=='N'"
														 />
												</div>

												<div class="col-sm-1"></div>

												<label class="col-sm-2">Alert User-3</label>
												<div class="col-sm-3">
													<input type="text"
														th:value="${AlertParameter?.alert_user_3}"
														id="alert_user_3" value="" name="alert_user_3"
														class="form-control form-control-sm" autocomplete="off"
														th:readonly="${formmode}=='view' OR ${formmode}=='delete' OR ${AlertParameter?.alert_flg}=='N'"
														/>
												</div>
												<div class="col-sm-1"></div>
											</div>


											<div class="row formline">
												<label style="height: 2px;"></label>

											</div>


											<div class="row formline">

												<label class="col-sm-2">Start Date</label>
												<div class="col-sm-3">
													<input type="text"
														th:value="${#dates.format(AlertParameter?.start_date	,'dd-MM-yyyy')}"
														id="start_date" value="" name="start_date"
														class="form-control form-control-sm" autocomplete="off"
														th:readonly="${formmode}=='verify' OR ${formmode}=='view'"
														required />
												</div>
												<div class="col-sm-1"></div>
												<label class="col-sm-2">End Date</label>
												<div class="col-sm-3">
													<input type="text"
														th:value="${#dates.format(AlertParameter?.end_date	,'dd-MM-yyyy')}"
														id="end_date" value="" name="end_date"
														class="form-control form-control-sm" autocomplete="off"
														th:readonly="${formmode}=='verify' OR ${formmode}=='view'"
														required />
												</div>
											</div>
											<div class="row formline">
												<label style="height: 2px;"></label>

											</div>
											<div class="row formline">

												<label class="col-sm-2">Suspended Flag</label>
												<div class="col-sm-3"
													th:if=" ${formmode}=='verify' OR ${formmode}=='delete'">
													<input th:value="*{suspend_flg}" th:field="*{suspend_flg}"
														id="susp_flag" class="form-control form-control-sm"
														readonly>


												</div>
												<div class="col-sm-3"
													th:if=" ${formmode}=='add' OR ${formmode}=='edit' OR  ${formmode}=='view'"
													th:readonly="${formmode}=='view'">
													<select id="suspend_flg" name="suspend_flg"
														class="form-control form-control-sm"
														th:value="*{suspend_flg}" th:field="*{suspend_flg}">
														<option value="">Select</option>
														<option value="Y">Yes</option>
														<option value="N">No</option>
													</select>

												</div>






												<div class="col-sm-1"></div>


												<label class="col-sm-2">Remarks</label>
												<div class="col-sm-3">
													<input type="text" th:value="${AlertParameter?.remarks}"
														id="remarks" value="" name="remarks"
														class="form-control form-control-sm" autocomplete="off"
														th:readonly="${formmode}=='view' OR ${formmode}=='delete'" />
												</div>
												<div class="col-sm-1"></div>
											</div>
											<div class="row formline">
												<label style="height: 2px;"></label>

											</div>
											<div class="row formline">

												<label class="col-sm-2">Suspended Date</label>
												<div class="col-sm-3">
													<input type="text"
														th:value="${#dates.format(AlertParameter?.suspend_date,'dd-MM-yyyy')}"
														id="suspend_date" value="" name="suspend_date"
														class="form-control form-control-sm" autocomplete="off"
														th:readonly="${formmode}=='verify' OR ${formmode}=='view'  OR ${formmode}=='delete'" />
												</div>
												<div class="col-sm-1"></div>
												<label class="col-sm-2">Activated Date</label>
												<div class="col-sm-3">
													<input type="text"
														th:value="${#dates.format(AlertParameter?.activate_date	,'dd-MM-yyyy')}"
														id="activate_date" value="" name="activate_date"
														class="form-control form-control-sm" autocomplete="off"
														th:readonly="${formmode}=='verify' OR ${formmode}=='view'  OR ${formmode}=='delete'" />
												</div>
											</div>







										</div>



										<div class="card-footer text-center" style="height: 38px;">


											<button
												th:if="${formmode}=='edit' OR ${formmode}=='add'  OR ${formmode}=='delete'"
												type="button" class="btn btn-xs btn-primary"
												onclick="submitform(this);" style="margin-top: -12px;"
												form="AlertParameter" id="btnSubmit"
												th:attr="data-formmode=${formmode}">Submit</button>
											<button type="button" class="btn btn-xs btn-primary"
											id="btnHome" style="margin-top: -12px;" onclick="home1();">Home</button>
										<button type="button" class="btn btn-xs btn-primary"
											id="btnBack" style="margin-top: -12px;" onclick="back1();">Back</button>

										</div>
									</div>
							</form>

						</div>
					</div>
				</div>
			</div>
			<!------------------------Pop window - Domain  list Ends--------------------------------->

			<!-------------------------------------Details delete modal dialog----------------------------------------------------->
			<div class="modal fade" id="datadelete">
				<div
					class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
					<div class="modal-content">
						<div class="modal-body"
							style="margin-top: 8px; text-align: center; color: aliceblue;">
							<button type="button" class="close" data-dismiss="modal">×</button>
							Are you Sure want to delete?
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-primary"
								onclick="submitformdelete(this);" th:attr="data-formmode=delete">Submit</button>
							<button type="button" class="btn btn-primary"
								data-dismiss="modal">Cancel</button>
						</div>
					</div>
				</div>
			</div>
				<div class="modal fade" id="dataHome">
				<div
					class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
					<div class="modal-content">
						<div class="modal-body"
							style="margin-top: 8px; text-align: center; color: aliceblue;">
							<button type="button" class="close" data-dismiss="modal">×</button>
							Are you Sure want to Leave?
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-primary" onclick="home();">Yes</button>
							<button type="button" class="btn btn-primary"
								data-dismiss="modal">No</button>
						</div>
					</div>
				</div>
			</div>
			<div class="modal fade" id="dataBack">
				<div
					class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
					<div class="modal-content">
						<div class="modal-body"
							style="margin-top: 8px; text-align: center; color: aliceblue;">
							<button type="button" class="close" data-dismiss="modal">×</button>
							Are you Sure want to Leave?
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-primary" onclick="back();">Yes</button>
							<button type="button" class="btn btn-primary"
								data-dismiss="modal">No</button>
						</div>
					</div>
				</div>
			</div>

			
			<!-------------------------------------Details delete modal dialog----------------------------------------------------->
			<!--------------------------------------------------------------- Modal for alert messages-------------------------------->
			<div class="modal fade" id="alert">
				<div
					class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
					<div class="modal-content">
						<div class="modal-body" style="text-align: center">
							<p id="alertmsg"></p>
							<button type="button" class="btn btn-primary"
								data-dismiss="modal" onclick="back();">Close</button>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
	</div>
	<!--------------------------------------------------------------- Modal for alert messages-------------------------------->
</body>
</html>